:root {
  --navbar-background-color: hsl(173, 25%, 87%);;
  --navbar-item-hovered-color:white;
  --navbar-separator-color:#ececec;
  --navbar-icon-color:#646c79;
  --navbar-text-color:black;
  --navbar-transition-speed: .2s;
  --primary-color:#7C4DFF;
  --navbar-logo-background-color:#e2dfe4;
}

html, body {
  margin:0;
	font-family: Verdana, Tahoma, sans-serif;
}

.navbar {
  width: 1px;
  position:fixed;
  top:0px;
  left:0px;
  bottom:0px;
  background:var(--navbar-background-color);
  box-shadow: rgba(12,43, 30, 0.2) 0 4px 14px;
  transition: width var(--navbar-transition-speed) ease;
}

.navbar:hover {
  width:10rem;
}

.navbar-menu {
  list-style: none;
  padding:0;
  margin:0;
  display:flex;
  flex-direction: column;
  align-items: center;
  height:100%;
}

.navbar-item {
  width: 100%;
  border-bottom:solid 1px var(--navbar-separator-color);
  transition: background-color var(--navbar-transition-speed);
}

.navbar-item:hover {
  background-color:var(--navbar-item-hovered-color);
}

.navbar-item:last-child {
  margin-top:auto;
}
main {
  padding: 1rem 4rem;
  margin-left: 5rem;
  text-align: justify;
}
.navbar-link {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  height:4rem;
  width:100%;
  text-decoration: none;
}

.navbar-title {
  color:var(--navbar-text-color);
}

.navbar:not(:hover) .navbar-title {
  display:none;
}

.logo {
  background:var(--navbar-logo-background-color);
}
.logo .navbar-title {
  font: size 15px;
  font-weight:bold;
  margin-left: 5px;
}

.navbar:hover .logo .navbar-icon {
  transform:rotate(180deg);
}
.loogo{
  margin-left: 0px;
  margin-top: -20px;
  background-color: antiquewhite;
  border-radius: 50px;
  box-shadow: #2d2d2d 0px 1px 2px;
}
.loogo p{
  margin-top: -30px;
  letter-spacing: 6.2px;
  color: #da800b;
  margin-left: 80px;
}
.loogo h1{
  color: rgb(6, 126, 86);
  margin-left: 80px;
}
/*
** RESPONSIVE
*/

@media only screen and (max-width:1024px) {
  .navbar {
    top:auto;
    width:100%;
    bottom:0px;
  }
  .navbar:hover {
    width:100%;
  }

  .navbar-menu {
    flex-direction: row;
  }

  .logo {
    display:none;
  }

  .navbar:hover .navbar-title {
    display:none;
  }
  .navbar-link {
    justify-content: center;
  }
}
.articles .article{
  display: flex;
  flex-wrap:wrap;
  margin-bottom: 10px;
}
.articles .article .left img{
  height: 380px;
  width: 300px;
  border-radius: 30px;
  box-shadow: #2d2d2d 0px 3px 3px ;
}
.articles .article .right {
  margin-left: 100px;
  max-width: 60%;
}
.articles .article .right p.date{
  color: #7f7e7e;
}
.articles .article .right p.description{
  color: #2d2d2d;
}
.right{
  text-align: justify;
}
.don{
  margin-left: 700px;
}

@media screen and (max-width: 640px){
  body{
    margin: 10px 10px 10px -40px;
  }
  nav .onglets{
    margin-top: -10px;
  }
  .articles .article .left img{
    height: 100%;
    width:100%;
    
  }
  .articles .article .right{
    margin: 0px;
    max-width: 100%;
  }
  .don{
    margin-left: 260px;
  }
}
@media screen and (max-width: 640px){


}

footer {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  color: #b1b1b0;
  margin-left: 30px;
}
footer h6{
  font-size: 6px;
}

.blog{
  margin-top: 2px;
  margin-left: 50px;
  background-color: rgba(255, 255, 255, 0.872);

}
